<style>
  /* Hide the "View on GitHub" banner */
  #forkme_banner {
    display: none !important;
  }
  
  /* Hide the downloads section */
  #downloads {
    display: none !important;
  }
  
  /* Hide the "maintained by" footer text */
  .copyright {
    display: none !important;
  }
  
  /* Hide the entire footer if you want */
  #footer_wrap {
    display: none !important;
  }
  .credits {
    display: none !important;
  }
  #header .fork {
    display: none !important;
  }
  h4 {
    font-weight: bold !important;
    font-size: 1.5em !important;
    color: #e8e8e8 !important;
  }
</style>